.collection-item {
  width: 24%;
  height: 350px;
  margin: 0px 0px 15px 0px;
}

.collection-item-image {
  width: 100%;
  height: 95%;
  background-position: center;
  background-size: cover;
}

.collection-item-details{
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}